.portfolio__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:2.5rem;
}

.portfolio__item{
    border:2px solid  rgb(94 234 212/1);
    padding: 1.3rem;
    transition: var(--transition);
    border-radius:2rem;
    background: transparent;
}

.portfolio__item:hover{
    background:   rgba(94, 234, 213, 0.093);
    background: transparent;

}

.portfolio__item-image{
    border-radius: 1.5rem;
    overflow: hidden;
     
}
#title{
    color:rgb(94 234 212/1);
}

.portfolio__item h3{
    margin:1.2rem 0 2rem;
}

.portfolio__item-cta{
    margin-bottom: 1rem;
    display: flex;
    gap:1rem;
}


@media screen and (max-width: 1024px) {
    .portfolio__container{
        grid-template-columns: 1fr 1fr;
        gap:1.2rem;
    }

}
  
@media screen and (max-width: 768px) {
    .portfolio__container{
        grid-template-columns: 1fr;
        gap:1rem;
    }
}
  