#footer{
    background:  rgba(94, 234, 213, 0.093);;
    border-top:1px solid  rgb(94 234 212/1);
    height:100%;
    margin-top: 7rem;
    font-size: 0.9rem;
    text-align: center;
    padding: 3rem 0;
    width: 100%;
    justify-content: center;
}

#footer a{
    color:#c4c7ccea;
  
}

.footer__logo{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}

.permalinks{
    display: flex;
    flex-wrap: wrap;
justify-content: center;
    gap: 2rem;
    margin:0 auto 3rem;
    list-style-type: none;
    padding: auto;
}


.footer_socials{
    display: flex;
    justify-content: center;
    gap:1rem;
    margin-bottom: 4rem;
}

.footer_socials a {
    font-size: 1.5rem;
    color: white;
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
}

.footer__copiright{
    margin-bottom: 4rem;

}


@media screen and (max-width: 600px){
    #footer .permalinks{
        flex-direction: column;
        gap: 1.5rem;
        width:80%;
        padding:0;
        
        justify-content: center;
        align-items: center;
    }

    #footer{
        width: auto;
        flex-direction: column;
        min-width:390px;
    }

    .footer__socials{
        margin-bottom: 2.6rem;
    }

    
}
